.header {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #2f737e;
    box-shadow: 0 0 35px rgb(0, 0, 0);
    z-index: 9999;
}

#header_profile_menu {
    width: auto;
    margin-left: 77%;
    height: 50px;
    padding: 5px;
    position: absolute;
    background-color: #2f737e;
    color: #fff;
    text-decoration: none;
    user-select: none;
    outline: none;

}

#header_profile_menu:hover {
    background-color: #2a5f6a;
}

#header_profile_menu:active {
    background-color: #234a55;
}

#dropDown_menu {
    text-align: left;
    position: fixed;
    left: 76.4%;
    top: 57px;
    width: 175px;
    height: 172px;
    border-radius: 5px;
    background-color: #ffffff;
    z-index: 999999;
    border: 1px solid #c0c0c0;
}

.list_group-btn {
    text-decoration: none;
    width: 174px;
    padding: 15px;
    height: 57px;
    color: rgba(7, 116, 126, 0.8);
    font-size: 17px;
}

.list_group-btn:hover {
    text-decoration: none;

    color: rgba(7, 116, 126, 0.9);
    background-color: rgba(7, 116, 126, 0.11);
}

.list_group-btn:menu {
    color: rgb(7, 116, 126);
    background-color: rgba(7, 116, 126, 0.2);
}