.list-group {
    width: 150px;
    border-radius: 5px;
    background-color: rgba(7, 116, 126, 0.0);
    text-align: left;
}

.leftMenu {
    width: 130px;
    height: 182px;
    position: fixed;
    top: 65px;
    left: 145px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 30px rgb(149, 158, 158);
    border: 1px solid #dfdfdf;
}

.list-group-btn {
    text-decoration: none;
    width: 129px;
    height: 30px;
    color: rgba(7, 116, 126, 0.8);
    padding: 5px;
    font-size: 15px;

}

.list-group-btn:hover {
    text-decoration: none;
    color: rgba(7, 116, 126, 0.9);
    background-color: rgba(7, 116, 126, 0.11);
}

.list-group-btn:active {
    color: rgb(7, 116, 126);
    background-color: rgba(7, 116, 126, 0.2);
}