 .content-edit{
    position: relative;
    top: -70px;
}
#full_avatar {
    top: 22px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000c7;
    display: none;
    position: fixed;
    z-index: 9999;
}

#image_full_avatar {
    height: 700px;
}

.avatar {
    position: fixed;
    width: 300px;
    height: 350px;
    padding: 15px;
}

.avatar_photo {
    width: 270px;
    height: 270px;
    overflow: hidden;
    min-width: 270px;
    border-radius: 5px;
}

.avatar_photo img {
    width: 100%;
}


.user_information {
    width: 660px;
    height: 200px;
    padding: 15px;
    position: relative;
    left: 315px;
}

#user_information_name {
    font-size: 24px;
}

#active {
    width: 525px;
    position: relative;
    left: -321px;
    top: 95px;
    text-align: right;
    color: rgba(0, 0, 0, 0.44);
}

.user_photos {
    width: 660px;
    height: 200px;
    padding: 15px;
    position: relative;
    left: 315px;
    text-align: center;
}

.user_post {
    width: 660px;
    height: 500px;
    padding: 15px;
    position: relative;
    left: -31px;
    top: -63px;
    text-align: center;
}

#loadAvatarWindow {
    width: 303px;
    height: 100px;
    text-align: center;
    position: relative;
    left: -33px;
    top: 64px;
    z-index: 9999;
}

#sendMessageWindow {
    width: 300px;
    height: 200px;
    padding: 8px;
    position: relative;
    top: 63px;
    left: -31px;
    z-index: 9999;
}

#sendMessageWindowInput {
    border: 1px solid #bcbcbc;
    border-radius: 4px;
}

.load_avatar {
    background-color: #ececec;
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    color: #292929;
    position: absolute;
    left: 160px;
    top: 25px;
    margin: 5px;
}

#load_avatar-btn {
    top: 26px;
    left: 500px;
    cursor: pointer;
}

#addPhotoWindow {
    background-color: #ffffff;
    position: relative;
    z-index: 9999;
    display: none;
    left: -31px;
    top: -63px;
    width: 660px;
    height: 100px;
    padding: 18px 0px 0px 170px;
}

#add_photo-btn {
    width: 154px;
    color: #6d6d6d;
    position: relative;
    left: 475px;
    top: -36px;
    font-size: 13px;
    cursor: pointer;
}

#cancel_add_photo-btn {
    color: #6d6d6d;
    position: relative;
    left: 330px;
    top: -12px;
    font-size: 13px;
    cursor: pointer;
}

hr#photo_hr {
    width: 659px;
    position: relative;
    left: -15px;
    top: -53px;
}


.new_ava {
    width: 270px;
    margin-top: 15px;
    position: absolute;
    background-color: rgba(7, 116, 126, 0.2);
    color: #858585;
}

#new_ava:hover {
    background-color: rgba(7, 116, 126, 0.27);
}

#new_ava:active {
    background-color: rgba(7, 116, 126, 0.33);
    font-size: 16px;
}

.write_btn {
    width: 270px;
    margin-top: 15px;
    position: absolute;
    background-color: rgba(7, 116, 126, 0.65);
}

#send_btn:hover {
    background-color: rgba(7, 116, 126, 0.81);
}

#send_btn:active {
    background-color: rgba(7, 116, 126, 0.9);
    font-size: 17px;
}

.send_btn {
    width: 100px;
    height: 30px;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 1px solid #2F737E;
    background: #2F737E;
    position: absolute;
    top: 163px;
    left: 190px;
}

.send_btn:hover {
    border: 1px solid #2b7b85;
    background: #2b7b85;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    text-decoration: none;
}

.send_btn:active {
    border: 1px solid #2F737E;
    font-size: 14px;
    background: #2F737E;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
}

#avatar_popup {
    position: relative;
    left: 28%;
    padding: 30px;
    background-color: #807d7938;
    width: 700px;
    text-align: center;
    height: 759px;
    top: 3%;
}

#photos {
    width: 792px;
    height: 171px;
    position: relative;
    top: -67px;
    left: -12px;
}

.photo {
    width: 198px;
    height: 171px;
    float: left;
    top: -10px;
    overflow: hidden;
    position: relative;
    background-color: #35383861;

}

.photo img {
    width: 99%;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#no_photos {
    position: relative;
    top: 66px;
    font-size: 24px;
    color: #777f80;
}

#all_photos-btn {
    position: relative;
    left: -265px;
    top: -15px;
    color: #6d6d6d;
    font-size: 13px;
}