.photo_progressbar {
    position: relative;
    left: -82px;
    top: -14px;
    width: 595px;
}

.avatar_progressbar {
    position: relative;;
    width: 254px;
}

.progressbar {

    display: block;

    margin: 2em auto;
    padding: 4px;
    border: 0 none;
    background: #e3eff0;
    border-radius: 5px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.progressbar::-moz-progress-bar {
    border-radius: 5px;
    background: #FFF;
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3);

}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .progressbar {
        height: 25px;
    }
}

.progressbar::-webkit-progress-bar {
    background: transparent;
}

.progressbar::-webkit-progress-value {
    border-radius: 5px;
    background: #2f737e;
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3);
}


/*lkwCwTNQgWjic&%IAujx*/