.full_photo {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000c7;
    display: none;
    position: fixed;
    z-index: 9999;
}

#photo_popup {
    width: 700px;
    height: 700px;
    position: absolute;
    margin: auto;
    left: 80px;
    top: 55px;
    border-radius: 5px 0 0 5px;
    background-color: #101010;
}

#image_full_photo {
    width: 550px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#photo_info {
    position: relative;
    top: 55px;
    left: 780px;
    height: 700px;
    width: 500px;
    background-color: #ffffff;
    border-radius: 0 5px 5px 0;
    text-align: left;
}

#close_photo-btn {
    position: absolute;
    top: 3%;
    left: 97%;
    font-size: 37px;
    color: #777777;
    cursor: pointer;
}

#close_photo-btn:hover {
    color: #ffffffad;
}

#close_photo-btn:active {
    color: #ffffff;
}

#open_photo_menu-btn {
    font-size: 40px;
    position: absolute;
    left: 645px;
    top: 15px;
    color: #ffffff1c;
    cursor: pointer;
}

#open_photo_menu-btn:hover {
    color: #ffffffad;
}

#open_photo_menu-btn:active {
    color: #ffffff;
}

.photo_menu {
    position: relative;
    left: 628px;
    top: 14px;
    width: 69px;
    height: auto;
    display: none;
}

.photo_menu-btn {
    position: absolute;
    top: 45px;
    left: 9px;
    cursor: pointer;
    color: #ffffff63;
    font-size: 14px;
}

.photo_menu-btn:hover {
    color: rgba(255, 255, 255, 0.65);
}

.photo_menu-btn:active {
    color: rgb(255, 255, 255);
}

#photo_user_name {
    position: relative;
    left: 70px;
    top: -35px;

    font-size: 18px;
}

#photo_user_avatar {
    position: relative;
    left: 8px;
    top: 8px;
}

#photo_user_date {
    position: relative;
    left: 71px;
    font-size: 13px;
    top: -32px;
    color: #2c3a73ab;
}

#photo_user_hr {
    position: relative;
    top: -45px;
}

#put_like-btn {
    position: relative;
    top: -50px;
    left: 10px;
    font-size: 30px;
    color: #424242;
}

#remove_like-btn {
    position: relative;
    top: -50px;
    left: 10px;
    font-size: 30px;
    color: #ca2a2a;
}

.likes {
    position: relative;
    top: -91px;
    left: 52px;
    font-size: 32px;
    color: #3e3e3e;
}