.photos {
    position: absolute;
    width: 900px;
    height: auto;
}

.photo {
    width: 279px;
    height: 400px;
    float: left;
    overflow: hidden;
    position: relative;
    margin: 10px;
    background-color: #b3b1b138;
    border: 1px solid #b3b1b1;
    box-shadow: 0 0 33px rgb(0, 0, 0);
}

.photo img {
    width: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.photo_img {
    width: 279px;
    height: 400px;
    display: none;
    position: relative;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 9998;
}

.photos_title {
    position: relative;
    top: 9px;
    left: 30px;
    font-size: 24px;
    color: #4c4c4c;
    margin-bottom: -22px;
}

.like_icon {
    position: relative;
    top: 34%;
    font-size: 50px;
    color: #ffffff6e;
}

.like_count {
    position: relative;
    top: 127px;
    color: #7b7878;
    font-size: 32px;
}
#addPhotoWindow{
    position: absolute;
    left: -16px;
    top: -16px;
    width: 900px;
    box-shadow: none;
    border-radius: 5px 5px 0 0;
    height: 56px;
    display: none;
}
.load_avatar {
    background-color: #ececec;
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    color: #292929;
    position: absolute;
    left: 160px;
    top: 6px;
    margin: 5px;
}
#load_avatar-btn {
    top: 8px;
    left: 500px;
    cursor: pointer;
}
#add_photo-btn{
    position: relative;
    width: 195px;
    top: 2px;
    left: 695px;
    color: #565656;
    cursor: pointer;
}