div::-webkit-scrollbar {
    width: 7px;
}

/* Track */
div::-webkit-scrollbar-track {
    background: rgba(47, 115, 126, 0.07)
}

/* Handle */
div::-webkit-scrollbar-thumb {
    background: rgba(47, 115, 126, 0.39)
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
    background: #2f737e
}

.message_block {
    background-color: #ffffff;
    text-decoration: none;
    border-radius: 5px;

}

.message_block:hover {
    background-color: rgba(182, 182, 182, 0.2);
    text-decoration: none;
}

.message_block:active {
    background-color: rgba(182, 182, 182, 0.4);
    text-decoration: none;
}

.content-dialogue {
    position: absolute;
    left: 280px;
    top: 50px;
    background-color: #ffffff;
    width: 900px;
    height: auto;
    min-height: 650px;
    border-radius: 5px;
    margin: 15px;
    text-decoration: none;
    border: 1px solid #dfdfdf;

}

.dialogue_name {
    position: relative;
    left: 104px;
    top: -41px;
    color: rgba(0, 0, 0, 0.73);
    font-size: 15px;
    font-style: inherit;
    text-decoration: none;
}

#dialogue_avatar {
    position: relative;
    left: 25px;
    top: 13px;
    text-decoration: none;
}

#dialogue_avatar2 {
    position: relative;
    left: 94px;
    top: -9px;

}

.preview {
    position: relative;
    left: 126px;
    top: -33px;
    color: #696464;
    background-color: #dae6e6;
    width: 650px;
    border-radius: 3px;
    font-size: 13px;
    padding: 4px 1px 1px 10px;
    text-decoration: none;
}

hr#mess {
    margin-top: -19px;
    margin-bottom: 0px;
}

.dialogue {
    text-decoration: none;
}

.content_corr {
    position: absolute;
    left: 280px;
    top: 50px;
    background-color: #ffffff;
    width: 900px;
    height: 680px;
    border-radius: 5px;
    margin: 15px;
    border: 1px solid #dfdfdf;
}

#messTitle {
    height: 15px;
}

.messList {
    position: relative;
    left: -16px;
    top: -114px;
    background-color: #ffffff;
    width: 900px;
    height: 510px;
    margin: 15px;
    border: 1px solid #dfdfdf;
    overflow-y: scroll;
}

.mess {
    position: relative;
    margin: 5px 15px 5px 15px;
    padding: 3px 8px 3px 18px;
    font-size: 14px;
    border-radius: 15px;
    width: 380px;
    height: auto;
    word-wrap: break-word;
    cursor: pointer;
}

.send {
    left: 435px;
    text-align: right;
    background-color: #c6c6d0;
}

.recip {
    left: 30px;
    background-color: #b6e2be;
}

#text_area {
    position: relative;
    left: -1px;
    top: -130px;
    width: 900px;
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 0px 0px 7px 7px;
}

#write_mess {
    position: relative;
    top: 10px;
    left: 10px;
    width: 760px;
    height: 77px;
    border-radius: 3px;
    border: 1px solid #c1ced0;
}

#send_mess {
    width: 99px;
    height: 75px;
    display: inline-block;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 1px solid #2F737E;
    border-radius: 3px;
    background: #2F737E;
    position: relative;
    top: -26px;
    left: 20px;
}

#send_mess:hover {
    color: rgb(255, 255, 255);
    border: 1px solid #2b7b85;
    background: #2b7b85;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#send_mess:active {
    color: rgb(255, 255, 255);
    border: 1px solid #2F737E;
    font-size: 14px;
    background: #2F737E;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
}

#send_avatar {
    position: relative;
    left: 847px;
    top: -31px;
}

#recip_avatar {
    position: relative;
    top: -31px;
    left: 10px;
}

#title_avatar {
    position: relative;
    left: 40px;
    top: -64px;
}

#title_name {
    position: relative;
    top: -109px;
    left: 113px;
    font-size: 26px;
}

#last_active {
    width: 525px;
    position: absolute;
    left: 350px;
    top: 20px;
    text-align: right;
    color: rgba(0, 0, 0, 0.44);
}

.last_time {
    color: #909090;
    position: relative;
    left: 815px;
    top: -51px;
    font-size: 14px;
    margin: -9px;
}

#no_mess {
    position: relative;
    left: 345px;
    top: 34px;
    color: #8e8e8e;
}

#begin_mess {
    position: relative;
    left: 341px;
    top: 11px;
    color: #2f737e;
}

.dell {
    position: relative;
    left: 424px;
    top: -53px;
    padding-left: 7px;
    width: 24px;
    height: 0px;
    color: #828282;
    cursor: pointer;
    display: none;
}

.cancelDell_1 {
    position: relative;
    left: -25px;
    top: -23px;
    color: #bd4242;
}

.cancelDell_2 {
    position: relative;
    left: 27px;
    top: -23px;
    color: #bd4242;
}
.fa-chevron-left{
    font-size: 50px;
    margin-top: 10px;
    color: #e8e8e8;
}

.fa-chevron-left:hover {
    color: #b7b7b7;
}

.fa-chevron-left:active {
    color: #7d7d7d;
}

#back_btn {

    position: relative;
    width: 30px;
    height: 70px;
    text-align: center;
}