html {
    background-color: rgba(7, 116, 126, 0.11);
}

.frm {
    border-radius: 5px;
    padding: 30px;
    width: 400px;
    height: auto;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 5%;
    top: 70px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 0 30px rgb(149, 158, 158);
}

.form_control {
    margin: 15px auto 15px auto;
    display: block;
    width: 90%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input_group {
    margin-top: 45px;
    text-align: center;
    width: 360px;
    height: 180px;
    position: absolute;
    top: 30px;
    left: 20px;
}

u {
    color: red;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.err {
    font-weight: bold;
    margin-top: 4px;
    position: absolute;
    top: 19px;
    left: 39px;
    width: 322px;
    height: 40px;
    font-size: 13px;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #dec1c3;
    padding: .75rem 1.25rem;
    border-radius: 4px;
}

.btn-rt {
    margin-left: 15px;
    color: #2F737E;
}

.btn-rt:hover {
    margin-left: 15px;
    color: #2F737E;
}

.btn-lt {
    margin-left: 15px;
    width: 100px;
    height: 37px;
    display: inline-block;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 1px solid #2F737E;
    border-radius: 3px;
    background: #2F737E;
}

.btn-lt:hover {
    color: rgb(255, 255, 255);
    border: 1px solid #2b7b85;
    background: #2b7b85;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.btn-lt:active {
    color: rgb(255, 255, 255);
    border: 1px solid #2F737E;
    font-size: 14px;
    background: #2F737E;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
}

.select_date {
    padding: 10px 0px 0px 30px;
    margin: 16px;
    text-align: left;
    border: 1px solid #d6d3d3;
    border-radius: 5px;
    width: 305px;
    color: #505050;
}

.select_elem {
    height: 23px;
    background-color: #f7f7f7;
    color: #484848;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
}

.select_gender {
    padding: 10px 0px 0px 30px;
    margin: 15px;
    text-align: left;
    border: 1px solid #d6d3d3;
    border-radius: 5px;
    width: 306px;
    color: #505050;
}
