html {
    background-color: rgba(7, 116, 126, 0.11);
}

html::-webkit-scrollbar {
    width: 7px;
}

/* Track */
html::-webkit-scrollbar-track {
    background: rgba(47, 115, 126, 0.07)
}

/* Handle */
html::-webkit-scrollbar-thumb {
    background: rgba(47, 115, 126, 0.39)
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
    background: #2f737e
}

body {

}

.content {
    position: absolute;
    left: 280px;
    top: 50px;
}

.content-block {
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 0 0 30px rgb(149, 158, 158);
}

#frnd {
    width: 216px;
    margin-bottom: 10px;
    text-align: center;
    border-color: rgba(62, 255, 106, 0) !important;
}

.btnFriend {
    background-color: #07747e;
    font-size: 20px;
    color: #fff;
}

.button {
    height: 33px;
    text-align: center;
    padding: 5px;
    font-size: 17px;
    background-color: #07747e;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

