.content-users{
    width: 900px;
    height: auto;
}
#friend_group-btn{
    position: fixed;
    width: 155px;
    top: 66px;
    left: 1211px;
}
.friend_btn{
    width: 100%;
    margin-top: 7px;
    background-color: white;
    height: 32px;
    padding: 5px;
    box-shadow: 0 0 12px rgba(84, 84, 84, 0.18);
    color: #585858;
cursor: pointer;
}
#friend-btn{
    background-color: #2f737e;
    box-shadow: 0 0 12px #2f737e;
    color: #fdfff2;
}
.friend_btn:hover{
    background-color: #f6f6f6;
    box-shadow: 0 0 12px rgba(84, 84, 84, 0.56);
}
.friend_btn:active{
    background-color: #2f737e;
    box-shadow: 0 0 12px #2f737e;
    color: #fdfff2;
}
.friend_elem{
    position: relative;
    width: 863px;
    height: 122px;
    margin: 17px;
    border: 1px solid #0000003d;
    box-shadow: 0 0 28px rgba(2, 2, 2, 0.26);
}
#friend_img{
    position: relative;
    left: 15px;
    top: 15px;
}
.friend_name{
    position: relative;
    left: 110px;
    top: -50px;
    font-size: 20px;
    color: #535658;
}
.friend-btn{
    position: relative;
    left: 702px;
    width: 139px;
    top: -55px;
    text-align: right;
    font-size: 16px;
    color: #0043ff52;
    cursor: pointer;
}
.friend-btn:hover{
    color: rgba(0, 67, 255, 0.54);
}
#active {
    width: 525px;
    position: relative;
    left: 80px;
    top: -30px;
    font-size: 15px;
    text-align: right;
    color: rgba(0, 0, 0, 0.44);
}
.send-btn{
    position: relative;
    top: -107px;
    left: 111px;
    width: 110px;
    background-color: #2f737e82;
}
.send-btn:hover{
    background-color: rgba(47, 115, 126, 0.65);
}
.send-btn:active{
    background-color: rgba(47, 115, 126, 0.79);
}
#friend_title{
    font-size: 26px;
    padding: 18px;
}
